.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: none;
}

.headertop {
    height: 100px;
    background-color: red;
    font-family: 'Shadows Into Light Two', cursive;
    text-align: center;
}

.headerbottom {
    height: 40px;
    background-color: aqua;
}

.columnleft {
    width: 20%;
    height: 500px;
    float: left;
   background-color: blue;
    
}

.columncenter {
    height: 500px;
    width: 60%;
    float:left;
    background-color: green;
    font-family: 'Fredoka One', cursive;
    
}

.coumnright {
    width: 20%;
    height: 500px;
    float: left;
    background-color: orange;
}

.columnright {
    height: 500px;
    float: left;
    background-color: yellow;
}

.footer {
   background-color: firebrick;
    width: 100%;
    height: 40px;
    clear: left;

}

body {
        background-image: url(zig%20zag%20wool.png);
}
